<form class="form-setting" role="form" id="form-radarr" action="/radarr" method="post">
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="form-group row">
                <label for="host" class="col-md-3 col-form-label">Host or IP *</label>
                <div class="col-md-8">
                    <input type="text" class="form-control host" name="host" value="<% if (radarrSettings && radarrSettings.host) { %><%=radarrSettings.host %><% } %>" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="port" class="col-md-3 col-form-label">Port</label>
                <div class="col-md-8">
                    <input type="number" class="form-control port" name="port" value="<% if (radarrSettings && radarrSettings.port) { %><%=radarrSettings.port %><% } %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="baseurl" class="col-md-3 col-form-label">Base URL</label>
                <div class="col-md-8">
                    <input type="text" class="form-control baseurl" name="baseUrl" value="<% if (radarrSettings && radarrSettings.baseurl) { %><%=radarrSettings.baseurl %><% } %>">
                    <small class="form-text text-muted">
                        Only enter this if you have a custom base URL, for example with a reverse proxy.
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label for="ssl" class="col-md-3 form-check-label">SSL</label>
                <div class="col-md-8">
                    <input type="checkbox" class="ssl" name="ssl" value="true" <% if (radarrSettings && radarrSettings.ssl === 'true') { %>checked<% } %>>
                </div>
            </div>

            <div class="form-group row">
                <label for="apikey" class="col-md-3 col-form-label">API Key *</label>
                <div class="col-md-8">
                    <input type="text" class="form-control apikey" name="apiKey" value="<% if (radarrSettings && radarrSettings.apikey) { %><%=radarrSettings.apikey %><% } %>" required>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row">
                <div class="col-md-12 col-form-label">
                    <small class="form-text text-muted">
                        Please set these after saving the config, or requests won't work
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label for="profile" class="col-md-4 col-form-label">Quality Profiles</label>
                <div class="col-md-8">
                    <select name="profile" id="profile-radarr" class="form-control profile">
                        <option value="0">Please select</option>
                        <% if (radarrOptions.profiles) { %>
                            <% for (let i = 0; i < radarrOptions.profiles.length; i++) { %>
                                <option value="<%= radarrOptions.profiles[i].id %>" <% if (radarrSettings && parseInt(radarrSettings.profile) == parseInt(radarrOptions.profiles[i].id)) { %>selected<% }%>><%= radarrOptions.profiles[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="rootfolder" class="col-md-4 col-form-label">Default Root folders</label>
                <div class="col-md-8">
                    <select name="rootfolder" id="rootfolder-radarr" class="form-control rootfolder">
                        <option value="0">Please select</option>
                        <% if (radarrOptions.rootfolders) { %>
                            <% for (let i = 0; i < radarrOptions.rootfolders.length; i++) { %>
                                <option value="<%= radarrOptions.rootfolders[i].path %>" <% if (radarrSettings && radarrSettings.rootfolder == radarrOptions.rootfolders[i].path) { %>selected<% }%>><%= radarrOptions.rootfolders[i].path %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="minimumavailability" class="col-md-4 col-form-label">Default Minimum Availability</label>
                <div class="col-md-8">
                    <select name="minimumavailability" id="minimumavailability" class="form-control minimumavailability">
                        <option value="Announced" <% if (radarrSettings && radarrSettings.minimumavailability == "Announced") { %>selected<% }%>>Announced</option>
                        <option value="InCinemas" <% if (radarrSettings && radarrSettings.minimumavailability == "InCinemas") { %>selected<% }%>>In Cinemas</option>
                        <option value="Released" <% if (radarrSettings && radarrSettings.minimumavailability == "Released") { %>selected<% }%>>Physical / Web</option>
                        <option value="PreDb" <% if (radarrSettings && radarrSettings.minimumavailability == "PreDb") { %>selected<% }%>>PreDb</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="searchonrequest" class="col-md-4 form-check-label">Search On Request</label>
                <div class="col-md-8">
                    <input type="checkbox" class="searchonrequest" name="searchonrequest" value="true" <% if (radarrSettings && radarrSettings.searchonrequest === 'true') { %>checked<% } %>>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class = "btn btn-lg btn-primary float-left testApi" data-api="radarr" type = "button" class="" >Test Connectivity</button>
            <button class = "btn btn-lg btn-primary float-right" type = "submit" name = "submit">Submit</button>
            <a href="/radarr/reset" class="btn btn-lg btn-outline-primary reset-button float-right">Reset</a>
        </div>
    </div>
</form>